@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(20rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(20rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-20rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

* {
  margin: 0 auto;
  padding: 0; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

.section-slideshow__photo {
  animation-name: moveInRight;
  animation-duration: .6s; }

body {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: #777; }

.heading-primary {
  font-size: 2rem;
  font-weight: 300;
  border-bottom: 1px solid;
  letter-spacing: 0.2rem;
  font-family: 'Roboto', sans-serif;
  transition: all .4s; }
  .heading-primary__animated--left {
    animation-name: moveInLeft;
    animation-duration: .4s; }
  .heading-primary__animated--bottom {
    animation-name: moveInBottom;
    animation-duration: .4s; }
  .heading-primary__animated--right {
    animation-name: moveInRight;
    animation-duration: .4s; }

.paragraph {
  font-size: 1.4rem;
  letter-spacing: 0.2rem;
  transition: all .4s; }
  .paragraph__animated--left {
    animation-name: moveInLeft;
    animation-duration: .6s; }
  .paragraph__animated--bottom {
    animation-name: moveInBottom;
    animation-duration: .6s; }
  .paragraph__animated--right {
    animation-name: moveInRight;
    animation-duration: .6s; }

.fab {
  font-size: 2.4rem; }

.u-margin-bottom-small {
  margin-bottom: 2rem !important; }

.u-margin-bottom-medium {
  margin-bottom: 3rem !important; }

.u-margin-bottom-big {
  margin-bottom: 6rem !important; }

.u-margin-left-small {
  margin-left: 4.5rem !important; }

.u-margin-left-medium {
  margin-left: 6.5rem !important; }

.u-margin-left-big {
  margin-left: 8.5rem !important; }

.u-padding-bottom-small {
  padding-bottom: .4rem !important; }

.u-padding-bottom-medium {
  padding-bottom: .7rem !important; }

.u-padding-bottom-big {
  padding-bottom: 2rem !important; }

.u-padding-left-small {
  padding-left: 4.5rem !important; }

.u-padding-left-medium {
  padding-left: 6.5rem !important; }

.u-padding-left-big {
  padding-left: 8.5rem !important; }

.btn, .btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  font-size: 1.4rem;
  line-height: 1.4rem;
  transition: all .3s; }

.btn--grey {
  background-color: #777;
  border: 2px solid #777;
  color: #f7f7f7;
  padding: 1.2rem 1.4rem;
  letter-spacing: 0.2rem;
  box-shadow: inset 0 0 0 rgba(159, 159, 159, 0.7), 0 0 1.5rem rgba(159, 159, 159, 0.9); }
  .btn--grey:hover {
    background-color: #fff;
    box-shadow: inset 0 0 1rem rgba(119, 119, 119, 0.7), 0 0 1rem #777777;
    border: 2px solid #9f9f9f;
    color: #777;
    font-weight: 400; }

.btn--white {
  color: #777;
  padding: .8rem 1rem;
  box-shadow: inset 0 0 1rem rgba(119, 119, 119, 0.3), 0 0 1rem rgba(119, 119, 119, 0.5);
  border: 2px solid #777; }
  .btn--white:hover {
    background-color: #777;
    box-shadow: inset 0 0 0 rgba(119, 119, 119, 0.5), 0 0 1.5rem rgba(119, 119, 119, 0.7);
    color: #eee; }

.btn--none-border {
  border: none;
  border-radius: 50%;
  box-shadow: none; }
  .btn--none-border:hover {
    transform: scale(1.2); }
  .btn--none-border:active {
    transform: scale(1); }

.row {
  max-width: 160rem; }

[class^="col-"] {
  float: left; }

.col-1-of-3 {
  width: calc((100% - 2 * 3rem) / 3); }

.col-2-of-3 {
  width: calc(2 * ((100% - 2 * 3rem) / 3) + 3rem); }

.navigation {
  height: 70px;
  min-height: 5rem;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  font-size: 1.5rem;
  border-bottom: 1px solid #eee;
  z-index: 2000;
  background-color: #fff; }
  .navigation__logo-box {
    position: absolute;
    top: 1.9rem;
    left: 1.5rem;
    cursor: pointer;
    z-index: 3000; }
  .navigation__logo {
    height: 3.5rem; }
  .navigation__nav {
    width: 100%;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
  .navigation__list {
    width: 100%;
    letter-spacing: .4rem;
    line-height: 1.6;
    height: inherit; }
  .navigation__item {
    display: inline-block;
    padding: 0 2rem; }
  .navigation__icon {
    width: 12rem;
    position: absolute;
    top: 1.7rem;
    right: 1rem;
    cursor: pointer;
    z-index: 3000;
    color: #777;
    text-align: center; }
    .navigation__icon:not(:last-child) {
      padding-right: 2rem; }
  .navigation__link {
    height: inherit;
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    list-style: outside none none;
    position: relative;
    padding: .5rem 0;
    transition: all .2s; }
    .navigation__link, .navigation__link:link, .navigation__link:visited {
      color: #777; }
    .navigation__link:after {
      position: absolute;
      transition: .3s;
      content: "";
      width: 0;
      left: 50%;
      bottom: 0;
      height: 2px;
      background: #777; }
    .navigation__link:hover {
      cursor: pointer;
      transform: scale(1.1); }
      .navigation__link:hover:after {
        width: 100%;
        left: 0; }
    .navigation__link:active, .navigation__link:focus {
      transform: scale(1.1); }
      .navigation__link:active:after, .navigation__link:focus:after {
        width: 100%;
        left: 0; }

.section-slideshow {
  position: relative; }
  .section-slideshow__mySlides {
    height: calc(100vh - 70px);
    margin-top: 70px; }
  .section-slideshow__buttons {
    animation-name: moveInRight;
    animation-duration: .3s; }

.section-about {
  height: calc(100vh - 70px);
  margin-top: 70px; }

.section-contact {
  height: calc(100vh - 70px);
  margin-top: 70px; }
