$default-font-size: 1.5rem;

$default-letter-spacing: 0.2rem;

// GRID

$grid-width: 160rem;

$gutter-horizontal: 3rem;

// COLORS
$color-primary: #F5F5F5;
$color-primary-light: #D2CADB;
$color-primary-dark: #47266B;

$color-white: #fff;
$color-black: #000;

$color-pink-lavender: #DAACC9;
$color-antiuqe-fusicha: #855875;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;
$color-grey-dark-1: #777;

// Height section
$navigation-height: 100px;
$section-height: calc(100vh - 100px);
$section-height-footer: 85vh;
$footer-height: 50px;