$default-font-size: 1.4rem;
$default-letter-spacing: 0.2rem;

// GRID

$grid-width: 160rem;
$gutter-horizontal: 3rem;
$gutter-vertical: 3rem;

// COLORS
$color-primary: #F5F5F5;
$color-primary-light: #D2CADB;
$color-primary-dark: #47266B;

$color-white: #fff;
$color-black: #000;

$color-pink-lavender: #DAACC9;
$color-antiuqe-fusicha: #855875;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;
$color-grey-light-3: #9f9f9f;
$color-grey-dark-1: #777;
$color-grey-dark-2: #6b6b6b;

// Height section
$navigation-height: 70px;
$section-height: calc(100vh - 70px);