.footer {
    display: block;
    margin-top: -5rem;
    padding: 1.7rem 2rem;
    font-size: $default-font-size;
    text-align: center;
    background-color: $color-grey-dark-2;
    color: $color-grey-light-4;

    @include respond(phone) {
        padding: 1.2rem;
    }
    

    &__link {

        &,
        &:link,
        &:visited {
            text-transform: uppercase;
            display: inline-block;
            color: $color-grey-light-4;
        }

        &:hover{
            color: $color-grey-light-2;
        }
    }
}