.row {
    max-width: $grid-width;
}

.col-1-of-3 {
    width: calc((100% - 2 * #{$gutter-horizontal}) / 3);
}

.col-2-of-3 {
    width: calc(2 * ((100% - 2 * #{$gutter-horizontal}) / 3) + #{$gutter-horizontal});
}