.navigation {
    height: $navigation-height;
    min-height: 5rem;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    font-size: 1.5rem;
    border-bottom: 1px solid $color-grey-light-2;
    box-shadow: 0 .5rem .9rem rgba($color-grey-dark-2, .3);
    z-index: 2000;
    background-color: $color-white;

    @include respond(tab-port) {
        height: $navigation-height-small;
        font-size: 1.3rem;
    }

    @include respond(phone) {
        font-size: 1.2rem;
    } 

    &__logo-box {
        position: absolute;
        top: 1.9rem;
        left: 1.5rem;
        cursor: pointer;
        z-index: 3000;

        @include respond(phone) {
            display: none;
        }
    }

    &__logo {
        height: 3.5rem;
    }

    &__nav {
        width: 100%;
        text-align: center;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    
    &__list {
        width: 100%;
        letter-spacing: .4rem;
        line-height: 1.6;
        // float: right;
        height: inherit;

        @include respond(phone) {
            letter-spacing: .2rem;
        }
    }

    &__item {
        display: inline-block;
        padding: 0 2rem;

        @include respond(phone) {
            padding: 0 1.5rem;
        }
    }

    &__icon {
        // height: 4rem;
        width: 12rem;
        position: absolute;
        top: 2.2rem;
        right: 1rem;
        cursor: pointer;
        z-index: 3000;
        color: $color-grey-dark-1;
        text-align: center;
        // display: inline-block;
        
        &:not(:last-child) {
            padding-right: 2rem;
        }

        @include respond(tab-port) {
            top: 1.5rem;
        }

        @include respond(phone) {
            display: none;
        }
    }

    &__link {
        
        &:link,
        &:visited {
            height: inherit;
            display: inline-block;
            position: relative;
            padding: .5rem 0;
            text-decoration: none;
            text-transform: uppercase;
            list-style: outside none none;
            transition: all .2s;
            color: $color-grey-dark-1;
        }

        &:after {
            position: absolute;
            transition: .3s;
            content: "";
            width: 0;
            left: 50%;
            bottom: 0;
            height: 2px;
            background-image: linear-gradient(
                            to right bottom, 
                            $color-blue-light, 
                            $color-blue-dark);
        }
        
        &:hover,
        &:active,
        &:focus {
            cursor: pointer;
            transform: scale(1.125);
            // letter-spacing: .6rem;
            background-image: linear-gradient(
                            to right, 
                            $color-blue-light, 
                            $color-blue-dark);
            -webkit-background-clip: text;
            color: transparent;
            border: none;

            backface-visibility: hidden;

            &:after {
                width: 100%;
                left: 0;
            }
        }
    }

    & .active {
        cursor: pointer;
        transform: scale(1.125);
        // letter-spacing: .6rem;
        background-image: linear-gradient(
                        to right, 
                        $color-blue-light, 
                        $color-blue-dark);
        -webkit-background-clip: text;
        color: transparent;

        &:after {
            width: 100%;
            left: 0;
        }
    }
}