.navigation {
    height: $navigation-height;
    min-height: 5rem;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    font-size: 1.5rem;
    border-bottom: 1px solid $color-grey-light-2;
    box-shadow: 0 .5rem .9rem rgba($color-grey-dark-2, .3);
    z-index: 2000;
    background-color: $color-white;
    // background-image: linear-gradient(to right bottom, #D2CADB, #47266B);

    &__logo-box {
        position: absolute;
        top: 1.9rem;
        left: 1.5rem;
        cursor: pointer;
        z-index: 3000;
    }

    &__logo {
        height: 3.5rem;
    }

    &__nav {
        width: 100%;
        text-align: center;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    
    &__list {
        width: 100%;
        letter-spacing: .4rem;
        line-height: 1.6;
        // float: right;
        height: inherit;
    }

    &__item {
        display: inline-block;
        padding: 0 2rem;

        &--current {

        }
    }

    &__icon {
        // height: 4rem;
        width: 12rem;
        position: absolute;
        top: 1.7rem;
        right: 1rem;
        cursor: pointer;
        z-index: 3000;
        color: $color-grey-dark-1;
        text-align: center;
        // display: inline-block;
        
        &:not(:last-child) {
            padding-right: 2rem;
        }
    }

    &__link {
        height: inherit;
        display: inline-block;

        text-decoration: none;
        text-transform: uppercase;
        list-style: outside none none;

        position: relative;
        padding: .5rem 0;

        transition: all .2s;

        &,
        &:link,
        &:visited {
            color: $color-grey-dark-1;
        }

        &:after {
            position: absolute;
            transition: .3s;
            content: "";
            width: 0;
            left: 50%;
            bottom: 0;
            height: 2px;
            // background: $color-grey-dark-1;

            background-image: linear-gradient(
                            to right, 
                            $color-blue-light, 
                            $color-blue-dark);
          }
        
        &:hover {
            cursor: pointer;
            transform: scale(1.1);
            letter-spacing: .6rem;

            background-image: linear-gradient(
                            to right, 
                            $color-blue-light, 
                            $color-blue-dark);
            -webkit-background-clip: text;
            color: transparent;

            &:after {
                width: 100%;
                left: 0;
            }
        }

        &:active,
        &:focus {
            transform: scale(1.1);
            letter-spacing: .6rem;

            background-image: linear-gradient(
                            to right, 
                            $color-blue-light, 
                            $color-blue-dark);
            -webkit-background-clip: text;
            color: transparent;

            &:after {
                width: 100%;
                left: 0;
            }
        }
    }
}