.about-box {
    background-color: rgba($color-grey-light-1, .6rem);
    text-align: center;
    padding-top: 3.5rem;
    transition: all 0.3s;

    &:last-child {
        padding-bottom: 3.5rem;
    }

    @include respond(tab-port) {
        text-align: left;
    }    

    &__icon {
        font-size: 8rem;
        font-family: Verdana,sans-serif;

        background-image: linear-gradient(
                        to right bottom, 
                        $color-blue-light, 
                        $color-blue-dark);
        -webkit-background-clip: text;
        color: transparent;

        @include respond(tab-port) {
            font-size: 6rem;
            margin-left: 6rem;
        }

        @include respond(phone) {
            margin-left: 4.5rem;
        }
    }

    &__animated {
        transition: all 1s;

        &--1{
            animation-name: moveInLeft;
            animation-duration: .4s;
        }

        &--2{
            animation-name: moveInBottom;
            animation-duration: .4s;

            @include respond(tab-port) {
                animation-name: moveInRight;
                animation-duration: .4s;
            }            
        }

        &--3{
            animation-name: moveInRight;
            animation-duration: .4s;

            @include respond(tab-port) {
                animation-name: moveInLeft;
                animation-duration: .4s;
            }
        }
    }

    &:hover {
        transform: scale(1.05);
    }
}