.btn {
    &,
    &:link,
    &:visited {
        text-transform: uppercase;
        text-decoration: none;
        display: inline-block;
        line-height: 4rem;
        vertical-align: middle;
        transition: all .4s;
        position: relative;
    }

    &--grey {
        padding: 0 1.4rem;
        height: 4rem;
        font-size: 1.4rem;
        background-color: $color-grey-dark-1;
        border: 2px solid $color-grey-dark-1;
        color: $color-grey-light-1;
        letter-spacing: $default-letter-spacing;
        box-shadow: inset 0 0 0 rgba($color-grey-light-3, .7),
                    0 .5rem 2.5rem rgba($color-grey-light-3, .4);
        
        &:hover {
            background-color: $color-white;
            box-shadow: inset 0 0 1rem rgba($color-grey-dark-1, .1), 
                        0 .5rem 4rem rgba($color-grey-dark-2, .5);
            border: 2px solid $color-grey-light-3;
            // border-radius: 5px;
            color: $color-grey-dark-1;
            font-weight: 400;
        }

        @include respond(tab-port) {
            padding: 0 1rem;
            font-size: 1rem;
        }
    }

    &--white {
        color: $color-grey-dark-1;
        padding: 0 1rem;
        height: 4rem;
        box-shadow: inset 0 0 0 rgba($color-grey-light-3, .7),
                    0 .5rem 2.5rem rgba($color-grey-light-3, .4);
        border: 2px solid $color-grey-dark-1;

        &:hover {
            background-color: $color-grey-dark-1;
            box-shadow: inset 0 0 1rem rgba($color-grey-dark-1, .1), 
                        0 .5rem 4rem rgba($color-grey-dark-2, .5);
            color: $color-grey-light-2;
        }
    }

    &__submit {
        margin: 0;
        padding: 0 1rem;
        letter-spacing: .4rem;
        color: $color-grey-dark-2;
        background-color: rgba($color-white, .1);
        box-shadow: inset 0 0 1rem rgba($color-grey-dark-1, .3),
                    0 0 1rem rgba($color-grey-dark-1, .5);
        border: 2px solid $color-grey-dark-1;


        &:hover {
            background-color: inherit;
            box-shadow: inset 0 0 1rem rgba($color-grey-dark-1, .1), 
                        0 .5rem 4rem rgba($color-grey-dark-2, .5);
            border: 2px solid $color-grey-light-3;
            // border-radius: 5px;
            color: $color-grey-dark-1;
            font-weight: 400;
        }
    }

    &--none-border {
        border: none;
        box-shadow: none;

        &:hover {
            transform: scale(1.5);
            background-color: transparent;
            box-shadow: none;
            color: #4c9dec;
        }

        &:active {
            transform: scale(1);
        }
    }
}