.btn {
    &,
    &:link,
    &:visited {
        text-transform: uppercase;
        text-decoration: none;
        display: inline-block;
        // font-size: 1.4rem;
        line-height: 1.6rem;
        transition: all .3s;
        position: relative;
        // background-color .3s, box-shadow .3s, color .3s;
    }

    &--grey {
        padding: 1.4rem 1.4rem;
        font-size: 1.4rem;
        background-color: $color-grey-dark-1;
        border: 2px solid $color-grey-dark-1;
        color: $color-grey-light-1;
        letter-spacing: $default-letter-spacing;
        box-shadow: inset 0 0 0 rgba($color-grey-light-3, .7),
                    0 0 1.5rem rgba($color-grey-light-3, .9);
        
        &:hover {
            background-color: $color-white;
            box-shadow: inset 0 0 1rem rgba($color-grey-dark-1, .7), 
                        0 0 1rem rgba($color-grey-dark-1, 1.1);
            border: 2px solid $color-grey-light-3;
            // border-radius: 5px;
            color: $color-grey-dark-1;
            font-weight: 400;
        }
    }

    &--white {
        color: $color-grey-dark-1;
        padding: .8rem 1rem;
        box-shadow: inset 0 0 1rem rgba($color-grey-dark-1, .3),
                    0 0 1rem rgba($color-grey-dark-1, .5);
        border: 2px solid $color-grey-dark-1;

        &:hover {
            background-color: $color-grey-dark-1;
            box-shadow: inset 0 0 0 rgba($color-grey-dark-1, .5), 
                        0 0 1.5rem rgba($color-grey-dark-1, .7);
            color: $color-grey-light-2;
        }
    }

    &__submit {
        margin: 0;
        font-size: 1.3rem;
        font-weight: 400;
        letter-spacing: .4rem;
        color: $color-grey-dark-2;
    }

    &--none-border {
        border: none;
        border-radius: 50%;
        box-shadow: none;

        &:hover {
            transform: scale(1.2);
        }

        &:active {
            transform: scale(1);
        }
    }
}