.form {
    &__group {
        margin-bottom: 1.3rem;

        @include respond(tab-port) {
            // text-align: center;
        }
    }

    &__group:last-child {
        margin: 6.5rem 0 2rem 0;

        @include respond(tab-port) {
            text-align: center;
        }
    }

    &__info {
        margin-bottom: 4rem;
        
        @include respond(tab-port) {
            width: 62%;
            margin: 0 auto 6rem auto;
        }
        
        @include respond(phone) {
            width: 75%;
        }
    }

    &__call-mail {
        margin-bottom: 1.5rem;
    }

    &__anchor {

        &:link,
        &:visited {
            display: inline-block;
            font-size: 1.6rem;
            text-decoration: none;
            color: $color-grey-dark-1;
            transition: all .4s;
        }

        &:hover,
        &:focus {
            text-decoration-line: underline;
            transform: scale(1.05);
        }
    }

    &__icons {
        padding: 1rem 1rem;
        position: relative;
        display: inline-block;
        line-height: 1.6rem;
        color: $color-grey-dark-1;
        border-radius: 50%;
        text-transform: uppercase;
        text-decoration: none;
        transition: all .4s;
    }

    &__input,
    &__textarea {
        width: 70%;
        max-width: 45rem;
        padding: 1rem 2rem;
        margin: 0;
        display: block;
        font-size: 1.5rem;
        font-family: inherit;
        color: inherit;
        transition: all .3s;
        border-radius: 2px;
        background-color: rgba($color-white, .9);
        border: none;
        border-bottom: 3px solid transparent;

        @include respond(tab-port) {
            margin: 0 auto;
        }

        &:focus {
            border: none;
            box-shadow: 0 1rem 2rem rgba($color-black, .1);
            border-bottom: 3px solid $color-blue-light;
        }

        &:focus:invalid {
            border: none;
            border-bottom: 3px solid $color-red;
        }

        &::-webkit-input-placeholder {
            color:$color-grey-dark-1;
            
        }
    }

    &__label {
        font-size: 1.2rem;
        margin-left: 2rem;
        margin-top: .7rem;
        margin-bottom: 1rem;
        display: block;
        transition: all .3s;

        @include respond(tab-port) {
            text-align: left;
            width: 58%;
            margin: 1rem auto;
        }

        @include respond(phone) {
            text-align: left;
            width: 68%;
        }
    }

    &__heading-1 {
        border-bottom: none;
        padding-left: 1rem;
        padding-right: 1rem;
    }

    &__input:placeholder-shown + &__label {
        opacity: 0;
        visibility: hidden;
        transform: translateY(-2.8rem);
    }

    // &.status_err {
    //     padding: 2rem;
    // }
}