.form {

    &__paragraph {
        display: inline-block;
        font-size: 1.6rem;
    }

    &__group {
        margin-bottom: 1.8rem;
    }

    &__call-mail:not(:last-child) {
        margin-bottom: 1.5rem;
    }

    &__input,
    &__textarea {
        font-size: 1.5rem;
        font-family: inherit;
        padding: 1rem 2rem;
        margin: 0;
        border-radius: 3px;
        background-color: rgba($color-white, .9);
        border: none;
        border-bottom: 3px solid transparent;
        width: 80%;
        display: block;

        &:focus {
            outline: none;
            box-shadow: 0 1rem 2rem rgba($color-black, .1);
            border-bottom: 3px solid $color-blue-light;
        }
    }

    &__label {

    }

    &__heading-1 {
        border-bottom: none;
        padding-left: 1rem;
    }
}