.form {

    &__paragraph {
        display: inline-block;
        font-size: 1.6rem;
    }

    &__group {
        margin-bottom: 1.3rem;
    }

    &__call-mail:not(:last-child) {
        margin-bottom: 1.3rem;
    }

    &__input,
    &__textarea {
        width: 70%;
        max-width: 45rem;
        padding: .8rem 2rem;
        margin: 0;
        display: block;
        font-size: 1.5rem;
        font-family: inherit;
        color: inherit;
        transition: all .3s;
        
        border-radius: 2px;
        background-color: rgba($color-white, .9);
        border: none;
        border-bottom: 3px solid transparent;
        

        &:focus {
            box-shadow: 0 1rem 2rem rgba($color-black, .1);
            border: none;
            border-bottom: 3px solid $color-blue-light;
        }

        &:focus:invalid {
            border: none;
            border-bottom: 3px solid $color-red;
        }

        &::-webkit-input-placeholder {
            color:$color-grey-dark-1;
            
        }
    }

    &__label {
        font-size: 1.2rem;
        margin-left: 2rem;
        margin-top: .7rem;
        display: block;
        transition: all .3s;
    }

    &__heading-1 {
        border-bottom: none;
        padding-left: 1rem;
    }

    &__input:placeholder-shown + &__label {
        opacity: 0;
        visibility: hidden;
        transform: translateY(-2.8rem);
    }
}