.section-slideshow {
    position: relative;
    // .mySlides {display:none}
    .w3-left, 
    .w3-right, 
    .w3-badge {
        cursor: pointer;
    }
    .w3-badge {
        height:13px;
        width:13px;
        padding:0;
    }
    .w3-border {
        border: 1px solid $color-grey-light-3 !important;
    }

    .w3-section {
        margin-top: 5rem !important;
        margin-bottom: 5rem !important;
    }

    .w3-container {
        padding: 0 10rem 0 35rem;;
    }

    // &.w3-container {
    //     padding: 1.6rem 10rem;
    // }

    &__text {
        // padding-left: 3rem;
        // padding-right: 6rem;
        width: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    &__photo {
        width: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        animation-name: moveInLeft;
        animation-duration: .6s;
    }

    &__mySlides {
        height: $section-height;
        margin-top: $navigation-height;
        display: none;
        // display: flex;
    }

    &__buttons {
        animation-name: moveInRight;
        animation-duration: .7s;
    }
}