.section-slideshow {
    position: relative;
    // padding-top: 1rem;

    &__container {
        width: 38%;
        height: 3rem;
        max-width: $grid-width;
        padding: 5rem 11rem;
        font-size: 1.6rem;
        color: $color-grey-dark-1;
        position: absolute;
        bottom: 0;
        right: 0;

        & .dots,
        & .next {
            display: inline-block;
            cursor: pointer;
            text-align: center;
            line-height: 1.6rem;

            &:hover {
                color: $color-grey-light-3;
                transition: all .3s;
            }

            & .dot {
                height: 1rem;
                width: 1rem;
                border: 2px solid $color-grey-light-3;
                border-radius: 50%;
                display: inline-block;
                position: relative;
 
                
                &:hover {
                    display: inline-block;
                    border-radius: 50%;
                    background-color: $color-grey-light-3;
                }
            }

            & .active {
                display: inline-block;
                border-radius: 50%;
                background-color: $color-grey-light-3;
            }
        }
        
        
    }

    .mySlides {
        display:none;
        // -webkit-backface-visibility: hidden;
        // backface-visibility: hidden;
        
    }
    
    .next{
        float:right;
    }

    &__text {
        width: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }

    &__photo {
        width: 100%;
        height: 100%;
        border: 5px solid $color-grey-light-4;
        // position: absolute;
        // top: 50%;
        // left: 50%;
        // -webkit-transform: translate(-50%, -50%);
        // transform: translate(-50%, -50%);
        animation-name: moveInLeft;
        animation-duration: .6s;
    }

    &__mySlides {
        height: $section-height;
        margin-top: $navigation-height;
        display: none;
    }

    &__buttons {
        animation-name: moveInRight;
        animation-duration: .7s;

        & > :not(:last-child) {
            margin-right: 2rem;
        }
    }
}