.section-slideshow {
    position: relative;
    padding-top: 1rem;

    @include respond(tab-port) {
        padding-top: 0;
    }

    &__container {
        width: 38%;
        height: 3rem;
        max-width: 600px;
        padding: 5rem 11rem;
        font-size: 1.6rem;
        color: $color-grey-dark-1;
        position: absolute;
        bottom: 0;
        right: 0;

        @include respond(tab-port) {
            display: none;
        }

        & .dots,
        & .next {
            display: inline-block;
            cursor: pointer;
            text-align: center;
            line-height: 1.6rem;

            &:hover {
                color: $color-grey-light-3;
                transition: all .3s;
            }

            & .dot {
                height: 1rem;
                width: 1rem;
                border: 2px solid $color-grey-light-3;
                border-radius: 50%;
                display: inline-block;
                position: relative;
 
                
                &:hover {
                    display: inline-block;
                    border-radius: 50%;
                    background-color: $color-grey-light-3;
                }
            }

            & .active {
                display: inline-block;
                border-radius: 50%;
                background-color: $color-grey-light-3;
            }
        }
        
        
    }

    .mySlides {
        display:none;
        
        @include respond(tab-port) {
            display: inline-block;
        }
        
    }
    
    .next{
        float:right;
    }

    &__text {
        width: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);

        @include respond(tab-port) {
            display: inline-block;
            position: relative;
            top: 0;
            left: 0;
            -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
            padding-top: 6rem;
        }

        @include respond(phone) {
            padding-top: 4rem;
        }
    }

    &__photo {
        width: 100%;
        // height: 100%;
        // border: 5px solid $color-grey-light-4;
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        animation-name: moveInLeft;
        animation-duration: .6s;

        @include respond(tab-port) {
            display: inline-block;
            position: relative;
            top: 0;
            left: 0;
            -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
        }
    }

    &__mySlides {
        height: $section-height;
        margin-top: $navigation-height;
        display: none;

        @include respond(tab-port) {
            display: inline-block;
            height: 100%;
            margin-top: 4rem;
        }
    }

    &__buttons {
        animation-name: moveInRight;
        animation-duration: .7s;

        & > :not(:last-child) {
            margin-right: 2rem;
        }

        @include respond(phone) {
            margin-bottom: 2rem !important;
        }
    }
}