.section-about {
    &__box {
        background-color: rgba($color-grey-light-1, .5rem);
        text-align: center;
        // box-shadow: 0 1.5rem 4rem rgba($color-grey-dark-2, .15);
    }

    & h3 {
        margin: 0 3rem;
        padding: 2rem 0;
    }

    & p {
        margin-left: 4rem;
        margin-right: 4rem;
        padding-top: 2rem;
        padding-bottom: 2rem;
    }
}