* {
    margin: 0 auto;
    padding: 0;
}

html {
    // This defines what 1rem is
    font-size: 62.5%;
}

body {
    box-sizing: border-box;
}

.section-slideshow__photo {
    animation-name: moveInRight;
    animation-duration: .6s;
    // transition: transform .3s;

    // &:hover {
    //     transform: scale(1.2);
    // }
}