body {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    line-height: 1.7;
    color: $color-grey-dark-1;
}

.heading-primary {
    font-size: 2rem;
    font-weight: 300;
    border-bottom: 1px solid; 
    letter-spacing: $default-letter-spacing;
    font-family: 'Roboto', sans-serif;
    transition: all .4s;

    &__animated {
        &--left {
            animation-name: moveInLeft;
            animation-duration: .4s;
        }

        &--bottom {
            animation-name: moveInBottom;
            animation-duration: .4s;
        }

        &--right {
            animation-name: moveInRight;
            animation-duration: .4s;
        }
    }
    // &__animated--right {
    //     animation-name: moveInRight;
    //     animation-duration: .3s;
    // }

    // &__animated--bottom {
    //     animation-name: moveInBottom;
    //     animation-duration: .3s;
    // }

    // &__animated--left {
    //     animation-name: moveInLeft;
    //     animation-duration: .3s;
    // }
}

.paragraph {
    font-size: $default-font-size;
    letter-spacing: $default-letter-spacing;
    transition: all .6s;

    &__animated {
        &--left {
            animation-name: moveInLeft;
            animation-duration: .6s;
        }

        &--bottom {
            animation-name: moveInBottom;
            animation-duration: .6s;
        }

        &--right {
            animation-name: moveInRight;
            animation-duration: .6s;
        }
    }
    // animation-name: moveInRight;
    // animation-duration: .6s;
    // // backface-visibility: hidden;

    // &--animated-bottom {
    //     animation-name: moveInBottom;
    //     animation-duration: .6s;
    // }

    // &--animated-left {
    //     animation-name: moveInLeft;
    //     animation-duration: .6s;
    // }
}

.fab {
    font-size: 2.4rem;
}