body {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    line-height: 1.7;
    color: $color-grey-dark-1;
}

.heading-primary {
    font-size: 2.2rem;
    font-weight: 300;
    border-bottom: 1px solid; 
    letter-spacing: $default-letter-spacing;
    font-family: 'Roboto', sans-serif;
    transition: all .4s;

    &__animated {
        &--left {
            animation-name: moveInLeft;
            animation-duration: .4s;
        }

        &--bottom {
            animation-name: moveInBottom;
            animation-duration: .4s;
        }

        &--right {
            animation-name: moveInRight;
            animation-duration: .4s;
        }
    }
}

.heading-secondary {
    margin: 0 6rem;
    padding: 1rem 0 2rem 0;
    font-size: 2rem;
    font-weight: 300;
    border-bottom: 1px solid; 
    letter-spacing: $default-letter-spacing;
    font-family: 'Roboto', sans-serif;

    transition: all .4s;

    &__animated {
        &--left {
            animation-name: moveInLeft;
            animation-duration: .4s;
        }

        &--bottom {
            animation-name: moveInBottom;
            animation-duration: .4s;
        }

        &--right {
            animation-name: moveInRight;
            animation-duration: .4s;
        }
    }
}

.paragraph {
    font-size: $default-font-size;
    letter-spacing: $default-letter-spacing;
    transition: all .6s;

    &__animated {
        &--left {
            animation-name: moveInLeft;
            animation-duration: .6s;
        }

        &--bottom {
            animation-name: moveInBottom;
            animation-duration: .6s;
        }

        &--right {
            animation-name: moveInRight;
            animation-duration: .6s;
        }
    }
}

.paragraph-secondary {
    margin-left: 6.5rem;
    margin-right: 6.5rem;
    padding-top: 3rem;
    padding-bottom: 2rem;
    font-size: $default-font-size;
    letter-spacing: $default-letter-spacing;
    transition: all .6s;

    &__animated {
        &--left {
            animation-name: moveInLeft;
            animation-duration: .6s;
        }

        &--bottom {
            animation-name: moveInBottom;
            animation-duration: .6s;
        }

        &--right {
            animation-name: moveInRight;
            animation-duration: .6s;
        }
    }
}

.fab {
    font-size: 2.1rem;

    backface-visibility: hidden;
}

.fas {
    font-size: 2.1rem;

    backface-visibility: hidden;
}