.u-margin-bottom-small {margin-bottom: 2rem !important; }
.u-margin-bottom-medium {margin-bottom: 3rem !important; }
.u-margin-bottom-big {margin-bottom: 6rem !important; }

.u-margin-left-small {margin-left: 4.5rem !important; }
.u-margin-left-medium {margin-left: 6.5rem !important; }
.u-margin-left-big {margin-left: 8.5rem !important; }

.u-padding-bottom-small {padding-bottom: .4rem !important; }
.u-padding-bottom-medium {padding-bottom: .7rem !important; }
.u-padding-bottom-big {padding-bottom: 2rem !important; }

.u-padding-left-small {padding-left: 4.5rem !important; }
.u-padding-left-medium {padding-left: 6.5rem !important; }
.u-padding-left-big {padding-left: 8.5rem !important; }