.section-about {
    margin-top: $navigation-height;
    padding: 6rem 3rem;
}

.section-contact {
    height: 100%;
    margin-top: $navigation-height;
    padding-bottom: 5rem;
    background-image: linear-gradient(105deg, 
                                    rgba($color-white, .9) 0%,
                                    rgba($color-white, .9) 50%, 
                                    transparent 50%),
                        url(../../img/contact-background.jpg);
    background-position: center;
    background-size: cover;

    & .contact {
        margin: 0;
        width: 40%;
        padding: 4rem ;

        // & .heading-1 {
        //     font-size: 2.2rem;
        // }
    }
}