.section-slideshow {
    position: relative;

    &__mySlides {
        height: $section-height;
        margin-top: $navigation-height;
    }
}

.section-about {
    height: $section-height;
    margin-top: $navigation-height;
}

.section-contact {
    height: $section-height-footer;
    margin-top: $navigation-height;
    margin-bottom: $footer-height;
}