.section-about {
    margin-top: $navigation-height;
    padding: 10rem 3rem;
    border-top: 1px solid $color-grey-light-2;
}

.section-contact {
    height: 100%;
    margin-top: $navigation-height;
    padding-top: 6rem;
    padding-bottom: 5rem;
    background-image: linear-gradient(105deg, 
                                    rgba($color-white, .9) 0%,
                                    rgba($color-white, .9) 50%, 
                                    transparent 50%),
                        url(../../img/contact-background.jpg);
    background-position: center;
    background-size: cover;
    border-top: 1px solid $color-grey-light-2;

    & .contact {
        margin: 0;
        width: 40%;
        padding: 4rem ;
    }
}