.section-about {
    margin-top: $navigation-height;
    padding: 10rem 3rem;
    border-top: 1px solid $color-grey-light-2;

    @include respond (tab-port) {
        margin-top: $navigation-height-small;
        padding: 10rem 2rem 0 2rem;
    }
}

.section-contact {
    height: 100%;
    margin-top: $navigation-height;
    padding-top: 6rem;
    padding-bottom: 5rem;
    background-image: linear-gradient(105deg, 
                                    rgba($color-white, .9) 0%,
                                    rgba($color-white, .9) 50%, 
                                    transparent 100%),
                        url(../../img/contact-background.jpg);
    background-position: center;
    background-size: cover;
    border-top: 1px solid $color-grey-light-2;

    @include respond(tab-port) {
        background-image: linear-gradient(105deg, 
                                    rgba($color-white, .9) 0%,
                                    rgba($color-white, .9) 100%),
                        url(../../img/contact-background.jpg);
    }

    & .contact {
        margin: 0;
        width: 50%;
        padding: 6rem;
    }

    @include respond (tab-port) {
        margin-top: $navigation-height-small;
        padding-top: 3rem;

        & .contact {
            width: 100%;
            padding: 4rem;
        }
    }
}